.works {
  padding: 0;
  .works-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .works-image {
      flex: 0 0 25%;
      position: relative;
      overflow: hidden;
      padding: 0 0 20% 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      @media (max-width: 875px) {
        flex: 0 0 33.33%;
        padding: 0 0 25% 0;
        &:nth-child(4n) {
          display: none;
        }
      }
      @media (max-width: 588px) {
        flex: 0 0 50%;
        padding: 0 0 35% 0;
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(7) {
          display: none;
        }
      }
      @media (max-width: 340px) {
        flex: 0 0 100%;
        padding: 0 0 70% 0;
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}
