.customers-row {
  margin: 67px -15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.customers-card {
  width: 298px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.customers-card_text {
  padding: 9px 22px 6px 23px;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
  background-color: #e2e2e2;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #86878b;
  position: relative;
  z-index: 1;
}
.customers-card_text::after {
  content: "";
  border-top: 17px solid #e2e2e2;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  position: absolute;
  top: 98;
  left: 39px;
}

.customers-card_block {
  margin: 22px -15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.customers-card_block-avatar {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
}
.customers-card_block-content {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.customers-card_signature {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}
.customers-card_profession {
  margin-top: 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}
