.customers-row {
  margin: 67px -15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.customers-card {
  width: 18.625rem;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.customers-card_text {
  padding: 10px;
  border-radius: 7px;
  background-color: #e2e2e2;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #86878b;
  flex-grow: 1;
  position: relative;
}
.customers-card_text::after {
  content: "";
  top: 100%;
  display: block;
  border-top: 12px solid #e2e2e2;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 39px;
}

.customers-card_block {
  margin-top: 22px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.customers-card_block-avatar {
  margin-left: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.customers-card_block-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.customers-card_signature {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #333333;
}
.customers-card_profession {
  margin-top: 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #86878b;
}
