.feautures {
  background-color: #f5f5f5;
}
.feautures-row {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.feautures-list {
  width: 7rem;
  margin: 25px 15px 0;
}

.feautures-list__item {
  margin-bottom: 10px;
}
.feautures-list__item:last-child {
  margin-bottom: 0;
}

.feautures-button {
  display: block;
  width: 7rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #333333;
  border: 0;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 6.875rem;
  color: #ffffff;
}
.feautures-button:hover {
  color: #ffffff;
  background-color: #ec7979;
  cursor: pointer;
}

.feautures-content {
  max-width: 35.75rem;
  margin: 25px 15px 0;
}
.feautures-title {
  text-transform: uppercase;
  margin-bottom: 58px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-align: left;
  color: #000000;
}
.feautures-text {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: left;
  color: #86878b;
}
.feautures-text__top {
  margin-bottom: 19px;
}
.feautures-text__bottom {
  margin-bottom: 89px;
}
.link-feautures {
  width: 8.4375rem;
  display: block;
  border: 0;
  background-color: #ec7979;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 2.625rem;
  text-align: center;
  color: #ffffff;
  transition: 0.2s;
}
.link-feautures:hover {
  transform: scale(1.2);
  font-size: 1.0625rem;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  color: rgba(15, 15, 15, 0.9);
}
.feautures-image {
  margin: 0 15px;
}
