.firstscreen {
  padding-top: 175px;
  background: url(/img/bg/firstscreen.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 78vh;
}
.firstscreen::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.firstscreen-container {
  position: relative;
  z-index: 1;
}
.firstscreen-row {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.firstscreen-content {
  max-width: 34rem;
  margin: 0 15px;
  text-align: left;
}
.firstscreen-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 4.375rem;
  color: #ffffff;
}
.firstscreen-logo::after {
  content: "IT";
  color: #e72424;
}
.firstscreen-title {
  margin-top: 32px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #ffffff;
}
.firstscreen-title::after {
  content: "";
  width: 4rem;
  height: 0.0625rem;
  display: block;
  background-color: #ffffff;
  margin-top: 32px;
}
.firstscreen-text {
  width: 17.625rem;
  margin-top: 39px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgba(255, 255, 255, 0.8);
}
.link-firstscreen {
  width: 8.4375rem;
  display: block;
  margin-top: 39px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 2.625rem;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
}
.link-firstscreen:hover {
  transform: scale(1.2);
  color: rgba(15, 15, 15);
  border: 1px solid rgb(15, 15, 15, 0.9);
  background-color: rgba(247, 240, 240, 0.55);
}

#firstscreen-form {
  margin: 0 15px;
  max-width: 23.125rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  transition-duration: 0.2s;
}
#firstscreen-form:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px 10px rgba(248, 243, 243, 0.3);
}
.firstscreen-form__content {
  max-width: 23.125rem;
  padding: 0.9375rem 3.6875rem 3.8125rem 3.6875rem;
}

.firstscreen-form__title {
  margin-bottom: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 3.5rem;
  text-align: center;
  color: #333333;
}
.firstscreen-form__colortext {
  color: #ec7979;
}

#firstscreen-form__name {
  display: block;
  width: 100%;
  margin-bottom: 19px;
  border: none;
  border-bottom: 3px solid #bdbdbd;
  line-height: 1rem;
}
#firstscreen-form__name:focus {
  outline: none;
  border-bottom: 3px solid #bdbdbd;
  background-color: #bdbdbd;
}

#firstscreen-form__email {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  border: none;
  border-bottom: 3px solid #bdbdbd;
  line-height: 1.1875rem;
}
#firstscreen-form__email:focus {
  outline: none;
  border-bottom: 3px solid #bdbdbd;
  background-color: #bdbdbd;
}

#firstscreen-form__password {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 3px solid #bdbdbd;
  line-height: 1.1875rem;
}
#firstscreen-form__password:focus {
  outline: none;
  border-bottom: 3px solid #bdbdbd;
  background-color: #bdbdbd;
}

#firstscreen-form__button {
  width: 100%;
  display: block;
  background-color: #ec7979;
  border: none;
  border-radius: 0px 0px 8px 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 3.375rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}
#firstscreen-form__button:hover {
  font-size: 1.25rem;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  color: rgba(15, 15, 15, 0.9);
}
