footer {
  width: 100%;
  padding: 30px 0 15px;
  background-color: #000000;
}
.footer-container {
  background-color: #000000;
}
.footer-icons__list {
  width: 19.8125rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer-icons__item:last-child {
  transform: rotate(45deg);
}
.link-footer {
  display: block;
  font-size: 1.4375rem;
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.4s;
}
.link-footer:hover {
  transform: rotate(360deg);
}
.footer-text {
  margin-top: 18px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
