.social {
  padding: 15px 0;
  background-color: #f8efef;
}
.social-container {
  background-color: #f8efef;
}
.social-row {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.social-content {
  width: 22.8125rem;
  margin: 0 15px;
}
.social-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-align: left;
  color: #333333;
}
.social-text {
  margin-top: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: left;
  color: #86878b;
}
.social-icons__list {
  margin: 0 15px;
  width: 42.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.social-icons__item:last-child {
  transform: rotate(45deg);
}
.link-social {
  display: block;
  font-size: 2.625rem;
  color: #86878b;
  transition-duration: 0.3s;
}
.link-social:hover {
  transform: scale(1.5);
}
